.cfix:after{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display: block;content: '';}

/* schedule */

.schedule-wrap{margin-bottom:0px;}
.schedule-main{padding: 5px 20px 11px 20px;background-color: #433d3a;min-width: 1024px;margin-bottom: 15px;}
.schedule-week{padding-bottom: 7px;border-bottom: 2px solid #5b5553;position: relative;margin-bottom: 17px;padding-top: 14px;}
.week-pointer{position: absolute;background-color: #ffd400;bottom:-4px;height:6px;-webkit-transition: all 400ms ease;-moz-transition: all 400ms ease;-ms-transition: all 400ms ease;-o-transition: all 400ms ease;transition: all 400ms ease;}
.schedule-day{width: 14%;float: left;cursor: pointer;}
.schedule-day:hover .day-mounth{color:#ffdf00;}
.schedule-day:first-child{margin-left: 1%;}
.schedule-day:last-child{margin-right: 1%;}
.schedule-day{color:#fff;text-align: center;font-size: 18px;}
.schedule-day .red{color:#ed2a1c;}
.day-mounth{margin-bottom: 0px;line-height: 16px;}
.today-pointer{font-size: 13px;color:#dbdada;height: 20px;width: 0;overflow: hidden;opacity: 0;}
.schedule-day.today .today-pointer{width: auto;overflow: visible;opacity: 1;}

.schedule-items-wrap{position: relative;}
.schedule-item{position: absolute;left: 0;top: 0;z-index: -1;opacity: 0;-webkit-transition: all 400ms ease;-moz-transition: all 400ms ease;-ms-transition: all 400ms ease;-o-transition: all 400ms ease;transition: all 400ms ease;}
.schedule-item .green, .schedule-item .green a{color:#00ff6f;}
.schedule-item .blue, .schedule-item .blue a{color:#3fb3ff;}
.schedule-item .yellow, .schedule-item .yellow a{color:#ffdf00;}

.schedule-day-prices{text-align: right;margin-bottom: 6px;}
.schedule-day-prices>div{display: inline-block;font-size: 16px;}
.schedule-day-prices .circle{width: 12px;height: 12px;border-radius: 50%;display: inline-block;}
.schedule-day-prices .green .circle{background-color: #00ff6f;}


.schedule-item.active{position: relative;z-index: 1;opacity: 1;}
.schedule-item table{width: 100%;}
.schedule-item table  tr td{font-size: 16px;vertical-align: middle;border-width:1px 0 1px 0px;border-style:solid;border-color:#282321;text-align: center;}
.schedule-item table  tr td:first-child{border-width: 1px 1px 1px 0;}
.schedule-item table tr:first-child td{border-width: 0;}
.schedule-item table tr:first-child td:first-child{border-width: 0 1px 1px 0;}
.schedule-item table tr:last-child td{border-width: 0;}
.schedule-item table tr:last-child td:first-child{border-width: 1px 1px 0 0;}
.ivent-title{color:#fff;padding: 0 11px;width: 11.8%;height: 40px;line-height: 16px;}
.schedule-item table  tr td.blocked{opacity: 0.5;}
.schedule-item table  tr td a:hover{color:#fff;text-decoration: none;}

/* /schedule */

/* ctext */

.game-rules{background-color: #433d3a;padding:49px 25px 28px 40px;margin-bottom: 40px;}

.ctext ol{counter-reset:li;padding:0;list-style:none;}
.ctext ol li {position:relative;margin:0 0 20px 0px;font-size: 16px;color:#cccac9;line-height: 19px;text-indent:15px;}
.ctext ol li:before {content:counter(li)'.';counter-increment:li;position:absolute;top:0px;left:-16px;color:#ffffff;}

/* /ctext */

@media screen and (max-width:767px){
	.game-rules{padding:20px 15px 15px 15px;margin-bottom: 30px;}
}
