/* index content */

.index-title{text-align: center;}
.index-big-img{margin-bottom: 11px;}
.index-small-img{margin-bottom: 25px;}

.quest-item{margin-bottom: 17px;}
.quest-item-img{margin-bottom: 10px;}
.quest-item-img a{display: block;position: relative;height: 180px;text-align: center;}
.quest-item-img a:before{content:'';display: block;width: 100%;height: 100%;border:3px solid #1f191a;left: 0;top: 0;position: absolute;}
.quest-item-img a:hover:before{content: '';display: block;position: absolute;left: 0;top: 0;border:5px solid #ffd400;z-index:3;}
.quest-item-img>a>img{max-width: 100%;max-height: 100%;width: 100%;height: 100%;}
.quest-item-img.new .new-wrap{display: block;}
.new-wrap{position: absolute;bottom: 10px;width: 100%;overflow: hidden;text-align: center;display: none;}
.new-text{position: relative;display: inline-block;}
.new-text:before, .new-text:after{content: '';display: block;position: absolute;height: 100%;width: 500px;background-color: #ff2919;}
.new-text:before{top: 0;right: 100%;}
.new-text:after{top:0;left: 100%;}

.quest-description{color:#1f191a;font-size: 14px;margin-bottom: 2px;}
.quest-description span{font-weight: 700;font-size: 18px;color:#000000;margin-right: 15px;}

.quest-dificul>span{font-size: 12px;color:#1f191a;margin-right: 7px;}
.quest-kachka{display: inline-block;position: relative;vertical-align: top;}
.quest-compexity-max{width: 94px;height: 16px;background-image:url(../images/kachka-complexity-length.png);}
.quest-compexity{position: absolute;left:0;top: 0;width: 0;overflow: hidden;height:16px;background-image:url(../images/kachka-complexity.png);}

/* /index content */

/* footer */

.footer{background-color:#3d3837;padding: 23px 0 24px 0;}
.footer-nav{margin-bottom: 15px;}
.footer-nav li{display: inline-block;position: relative;padding: 0 17px 0 8px;}
.footer-nav li a{font-weight: 700;font-size: 16px;color:#ffffff;}
.footer-nav li a:hover{color:#ffd400;text-decoration: none;}
.footer-nav li:after{content: '';display: block;position: absolute;width: 4px;height: 4px;background-image:url(../images/footer-nav-dot.png);right: 0;top:50%;margin-top: -2px;}
.footer-nav li:first-child{padding: 0 17px 0 0;}
.footer-nav li:last-child{padding: 0 0 0 8px;}
.footer-nav li:last-child:after{display: none;}

.socials{text-align: right;}
.socials a{display: inline-block;position: relative;vertical-align: bottom;margin:0 5px;}
.socials a:last-child{margin:0 0 0 5px;}
.socials a img{display: block;}
.socials a img.active{position: absolute;left: 0;top: 0;opacity: 0;}
.socials a:hover img.active{opacity: 1;}

.footer-writes{font-size: 12px;color:#cccccc;}

@media(max-width: 960px){
	.footer-nav li{padding: 0 11px 0 5px;}
	.footer-nav li:first-child{padding: 0 11px 0 0;}
	.footer-nav li:last-child{padding: 0 0 0 8px;}
}
@media(max-width: 767px){
	.footer-nav li, .footer-nav li:first-child, .footer-nav li:last-child{display: block;margin-bottom: 5px;padding: 0;text-align: center;}
	.footer-nav li:after{display: none;}
	.socials{text-align: center;margin-bottom: 15px;}
	.footer-writes{text-align: center;}
}

/* /footer */