
.ctext h2{font-size: 48px;color:#6d8c00;text-transform: uppercase;margin-bottom: 76px;font-family: 'BebasNeue-Regular', sans-serif;line-height: 48px;margin-top: 0;}
.ctext h6{font-size: 18px;color:#000000;margin-bottom: 10px;text-transform: uppercase;}
.ctext p{font-size: 18px;color:#000000;line-height: 24px;}
.ctext p b{font-weight: 600;}
.ctext p span{font-family: 'BebasNeue-Regular',sans-serif;font-size: 36px;color:#6d8c00;}
.ctext p span span{font-family: 'BebasNeue', sans-serif;font-weight: 300;}

.cfix:after{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display: block;content: '';}

input:focus, textarea:focus{outline: none!important;}
input[type="text"],input[type="email"],textarea{width:100%;background-color:#fff;border:1px solid #aaa9a9;border-radius: 4px;box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,.40);-webkit-box-shadow: inset 2px 2px 5px 0 rgba(0,0,0,.40);}
input[type="text"].error,input[type="email"].error,textarea.error{border-color: #d30707;box-shadow: inset 2px 2px 5px 0 rgba(211,7,7,.40);-webkit-box-shadow: inset 2px 2px 5px 0 rgba(211,7,7,.40);}
input[type="text"],input[type="email"]{font-size: 14px;height: 38px;line-height: 38px;padding: 0 10px 0 10px;}
textarea{padding: 10px 10px 10px 10px; font-size:14px;line-height: 18px;resize:none;height: 80px;}

.form-row{margin-bottom: 23px;}
.form-row.submit{margin-top: -10px;}
.form-row:last-child{margin-bottom: 0;}
.form-item-title{font-family: 'BebasNeue-Regular', sans-serif;color: #fff;font-size: 24px;text-transform: uppercase;margin-bottom: 5px;margin-left: 2px;}
.btn.btn-submit{background-color: #be2c31;height: 39px;line-height: 39px;padding: 0 25px 0 25px;text-transform: uppercase;font-size: 14px;font-weight: 300;border-bottom: 1px solid #7f1215;border-radius: 3px;color:#fff;}
.btn.btn-submit:hover{background-color: #7f1215;border-color: transparent;}

/* dostavka */

.dostavka-wrap{padding: 79px 0 79px 0;}

/* /dostavka */

/* contacts */

.contacts-wrap{padding: 81px 0 77px 0;}
.contacts-form{margin-bottom: 50px;}

.contats-form-header{margin-bottom: 85px;}
.ctext.contats-form-header{margin-bottom: 0;}
.contacs-form-main{border:1px solid #819c1e;padding: 31px 20px 20px 20px;
background: #a3c813; /* Old browsers */
background: -moz-linear-gradient(top, #a3c813 0%, #6c8800 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3c813), color-stop(100%,#6c8800)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a3c813 0%,#6c8800 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a3c813 0%,#6c8800 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a3c813 0%,#6c8800 100%); /* IE10+ */
background: linear-gradient(to bottom, #a3c813 0%,#6c8800 100%); /* W3C */}


/* /contacts */

/* our-works */

.our-clients-blocks-wrap{padding-top: 87px;margin-bottom: 50px;}
.our-clients-blocks{margin-bottom: 70px;}
.our-clients-blocks-wrap .our-clients-blocks:last-child{margin-bottom: 0;}
.our-clients-blocks-title{margin-bottom: 33px;padding:13px 0 14px 23px;font-size: 18px;color: #fff;box-shadow: 1px 1px 0 rgba(0,0,0,.25);
	background: #a3c814; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzYzgxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YjhhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #a3c814 0%, #6b8a00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3c814), color-stop(100%,#6b8a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a3c814 0%,#6b8a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a3c814 0%,#6b8a00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a3c814 0%,#6b8a00 100%); /* IE10+ */
background: linear-gradient(to bottom, #a3c814 0%,#6b8a00 100%); /* W3C */}
.our-clients-blocks-title span{font-weight: 600;}
.our-clients-blocks .col-sm-4{padding: 0 20px;}

.green-bottom-form{padding: 87px 0 0 20px;margin-bottom: 20px;
	background: #a3c814; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzYzgxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YjhhMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #a3c814 0%, #6b8a00 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3c814), color-stop(100%,#6b8a00)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #a3c814 0%,#6b8a00 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #a3c814 0%,#6b8a00 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #a3c814 0%,#6b8a00 100%); /* IE10+ */
background: linear-gradient(to bottom, #a3c814 0%,#6b8a00 100%); /* W3C */}
.green-bottom-title{text-align: center;margin-bottom: 23px;}
.green-bottom-title p{font-size: 18px;color:#000;margin-bottom: 15px;}
.green-bottom-title p.big-title{font-family: 'BebasNeue-Regular',sans-serif;color:#000;font-size: 30px;text-transform: uppercase;margin-bottom: 18px;}
.green-bottom-form-main{padding: 0 40px;margin-bottom: 25px;}
.green-bottom-form-main .btn.btn-submit{width:100%;}
.green-form-bottom-text{font-family: 'BebasNeue-Regular',sans-serif;font-size: 30px;color: #fff;text-align: center;margin-bottom: 35px;}
.green-form-bottom-text span{font-size: 38px;}
.green-form-bottom-text span span{font-family: 'BebasNeue', sans-serif;font-weight: 300;}

::-webkit-input-placeholder {font-weight: 300;font-style: italic;font-style: 14px;color:#929292;text-transform: uppercase;}
:-moz-placeholder {font-weight: 300;font-style: italic;font-style: 14px;color:#929292;text-transform: uppercase;}
::-moz-placeholder {font-weight: 300;font-style: italic;font-style: 14px;color:#929292;text-transform: uppercase;}
:-ms-input-placeholder {font-weight: 300;font-style: italic;font-style: 14px;color:#929292;text-transform: uppercase;}


/* /our-works */

@media screen and (max-width:767px){
	.kapchta-img{text-align: center;margin-bottom: 10px;padding-top:10px;}
	.form-submit-wrap{text-align: center;}
	
	.our-clients-blocks{margin-bottom: 40px;}
	.our-clients-blocks .col-sm-4{margin-bottom: 25px;}
	.green-bottom-form-main .form-row:last-child>div{margin-bottom: 25px;}
	.green-bottom-form-main .form-row:last-child>div:last-child{margin-bottom: 0;}
}