/* fonts */
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue.otf');
    src: local('O'),
    url('../fonts/BebasNeue.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Bold.otf');
    src: local('O'),
    url('../fonts/BebasNeue Bold.ttf') format('truetype'),
    font-weight: 700;
    font-style: normal;}
@font-face {
    font-family: 'BebasNeue-Regular';
    src: url('../fonts/BebasNeue Regular.otf');
    src: local('O'),
    url('../fonts/BebasNeue Regular.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'BebasNeue';
    src: url('../fonts/BebasNeue Light.otf');
    src: local('O'),
    url('../fonts/BebasNeue Light.ttf') format('truetype'),
    font-weight: 300;
    font-style: normal;}
/* /fonts*/

/* helping adds*/
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfixBefore:before{content:'';height:100%;width:0px;display:inline-block;vertical-align:middle;}
.zHiddenBlock{position:absolute;left:-99999em;top:-99999em;}
/* /helping adds*/

/* base styles*/
html{height:100%}
body{min-height:100%;font-family: 'Open Sans', sans-serif;font-size:12px;color:#000;position:relative;}
img{vertical-align:bottom;border:0;max-width:100%;}
/* /base styles */

/* base typo*/
.ctext h1,.ctext h2,.ctext h3,.ctext h4,.ctext h5,.mainheading,.subheading,.thirdheading,.fourheading,.fiveheading{font-weight:normal;margin-bottom:24px;}
.ctext h2{font-size: 22px;color:#1c1c1c;line-height: 18px;margin-top: 10px;}
.ctext h2 span{display: inline-block;padding-left: 5px;border-left: 4px solid #00c1e2;}
a{color:#32afd8;font-family: "Open sans";border:0;}
a:hover{color:#dd4b39;}
p{margin:0;}
.mainheading,.ctext h1{}
.subheading,.ctext h2{}
.thirdheading,.ctext h3{}
.fourheading,.ctext h4{}
.fiveheading,.ctext h5{}
.ctext p,.ctext blockquote {font-size: 17px;line-height: 23px;color:#333333;}
.ctext img{margin-bottom: 20px;border:1px solid #dfdfdf;}
.ctext ul{margin:10px 20px;}
.ctext p:last-child,.ctext ul:last-child{margin-bottom:0;}
.ctext table{border-collapse:collapse;}
.ctext table tr td,.ctext table{border:1px solid;}
/* /base typo*/



/* header */
.header{border-bottom: 3px solid #4a5808;background: rgb(176,201,58);background: -moz-linear-gradient(top,  rgba(176,201,58,1) 0%, rgba(116,135,19,1) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(176,201,58,1)), color-stop(100%,rgba(116,135,19,1)));background: -webkit-linear-gradient(top,  rgba(176,201,58,1) 0%,rgba(116,135,19,1) 100%);background: -o-linear-gradient(top,  rgba(176,201,58,1) 0%,rgba(116,135,19,1) 100%);background: -ms-linear-gradient(top,  rgba(176,201,58,1) 0%,rgba(116,135,19,1) 100%);background: linear-gradient(to bottom,  rgba(176,201,58,1) 0%,rgba(116,135,19,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0c93a', endColorstr='#748713',GradientType=0 );}
.logo-img{padding-top: 5px;}
.navigation{padding: 15px 0px 11px 0px;margin-left: 31px;}
.navigation .nav{}
.navigation .nav li {}
.navigation .nav li a{font-family: "Open sans";font-size: 16px;border:2px solid rgba(255,255,255, 0);color: #fff;text-transform: uppercase;}
.nav>li>a:focus, .nav>li>a:hover {text-decoration: none;border:2px solid rgba(255,255,255, 1);background: none;color: #fff;}
.nav-pills>li+li {margin-left: 18px;}
/* /header */


/*wraper*/

.first-block-wrap{position: relative;}
.first-block-bg-img,.third-block-bg-img,.fourth-block-bg-img,.fifth-block-wrap{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.first-block-bg-img img,.third-block-bg-img img,.fourth-block-bg-img img,.fifth-block-wrap img {
    height: 100%;
    width: 100%;}

.zvonok{width: 205px;text-align: center;display: inline-block;padding-top: 43px;}
.zvonok p:first-child{font-family: 'BebasNeue-Regular';color: #fff;font-size: 38px;}
.zvonok p:last-child{font-family: "Open sans";font-size: 13px;color: #fff;padding-top: 4px;margin-bottom: 8px;}
.zvonok-button{width: 100%;}
.t-centr{text-align: right;}
.zvonok-button a {color: #000;font-family: "Open sans";font-size: 14px;background: rgb(244,246,200);background: -moz-linear-gradient(top,  rgba(244,246,200,1) 0%, rgba(227,229,160,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,246,200,1)), color-stop(100%,rgba(227,229,160,1)));background: -webkit-linear-gradient(top,  rgba(244,246,200,1) 0%,rgba(227,229,160,1) 100%);background: -o-linear-gradient(top,  rgba(244,246,200,1) 0%,rgba(227,229,160,1) 100%);background: -ms-linear-gradient(top,  rgba(244,246,200,1) 0%,rgba(227,229,160,1) 100%);background: linear-gradient(to bottom,  rgba(244,246,200,1) 0%,rgba(227,229,160,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6c8', endColorstr='#e3e5a0',GradientType=0 );border-radius: 4px;border-bottom: 2px solid #a4b06c;width: 100%;text-transform: uppercase;padding: 9px 12px;}
.title-logo-text>h4{font-family: 'BebasNeue-Regular';font-size: 90px;color: #fff;margin-bottom: 16px;}
.title-logo-text{padding: 134px 0px 190px 0px;}

.second-block-wrap{padding-bottom: 90px;background: #fff;}
.second-block-wrap .row>h5{font-family: 'BebasNeue-Regular';font-size: 48px;color: #000;padding-bottom: 83px;padding-top: 85px;}
.item-izd{display: inline-block;padding: 0px 44px;}
.item-izd-descr{font-family: "Open sans";font-size: 18px;color: #000;padding-top: 18px;}
.third-izd .item-izd{;padding: 0px 10px;display: inline-block;;padding: 0px 14px;}
.third-izd .item-izd-descr{padding-top: 5px;}

.third-block-wrap{position: relative;}
.third-block-img img {}

.third-block-wrap h5 {font-size: 48px;color: #fff;font-family: 'BebasNeue-Regular';padding-top: 84px;padding-bottom: 34px;}
.third-block-desc{padding-top: 65px;padding-bottom: 82px;}
.third-block-desc p{color: #fff;font-size: 14px;font-family: "Open sans";margin-bottom: 16px;}
.third-block-img{display: inline-block;vertical-align: middle;margin: 0px 12px;}


.fourth-block-wrap{position: relative;}
.fourth-block-wrap h5{font-size: 48px;font-family: 'BebasNeue-Regular';color: #000;padding: 90px 0px 90px 0px;}


.slider-img-wrap{padding: 0px 37px;}
.slider-item-wrap{padding: 0px 0px 43px 0px;margin: 0px 15px;}
.slider-item{display: inline-block;margin: -5px;padding: 10px;background: linear-gradient(to bottom,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc734', endColorstr='#748813',GradientType=0 );}
.slider-item a{display: block;}
.slick-prev, .slick-next {font-size: 0;line-height: 0;position: absolute;top: 46%;display: block;width: 32px;height: 32px;margin-top: -10px;padding: 0;cursor: pointer;color: transparent;border: none;outline: none;background: url(../images/prev-act.png) center center no-repeat;opacity: .7}
.slick-prev:hover, .slick-next:hover {opacity: 1;}
.slick-next{transform:rotate(180deg);}
.slick-prev.slick-disabled{background: url(../images/prev-dis.png) center center no-repeat;transform: rotate(180deg);opacity: 0.8;;}
.slick-next.slick-disabled{background: url(../images/prev-dis.png) center center no-repeat;transform: rotate(0deg);}

.slick-slide>.slider-item-wrap:first-child{padding-top: 15px;}

.fifth-block-wrap{position: relative;padding: 55px 0px 56px 0px;}
.fifth-block-desc p {font-size: 48px;font-family: 'BebasNeue-Regular';color: #fff;line-height: 70px;}
.fifth-block-desc p span{color: #bad43f;}
.fifth-block-center-img{
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 71px;}
.fifth-block-center-img img {max-width: 230px;max-height: 160px;}
.fifth-block-center-forma input{width: 200px;}
.fifth-block-center-forma input[type=submit]{margin-top: 8px;}
.fifth-block-center-forma{text-align: center;padding: 15px;background: rgb(173,199,52);background: -moz-linear-gradient(top,  rgba(173,199,52,1) 0%, rgba(116,136,19,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,199,52,1)), color-stop(100%,rgba(116,136,19,1)));background: -webkit-linear-gradient(top,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);background: -o-linear-gradient(top,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);background: -ms-linear-gradient(top,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);background: linear-gradient(to bottom,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc734', endColorstr='#748813',GradientType=0 );border: 1px solid #86992e;max-width: 260px;}
.fifth-block-center-forma p{color: #fff;font-family: "Open sans";font-size: 18px;margin-bottom: 16px;}
.fifth-block-center-forma p:first-child{text-transform: uppercase;padding-top: 15px;}

.fifth-block-center-forma-wrap{display: inline-block;border: 5px solid rgba(162, 187, 45, 0.6);border-radius: 3px;}
.fifth-block-desc{display: inline-block;vertical-align: middle;margin-left:-2px;padding-top:47px;text-align:left;}
.fifth-block-desc-wrap{width: 33%;vertical-align: top;}
.fifth-block-center-wrap{vertical-align: bottom;width: 33%;}

.sixth-block-wrap{padding: 80px 0px 91px 0px;}
.youtube-frame{display: inline-block;margin: -5px;padding: 10px;background: linear-gradient(to bottom,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc734', endColorstr='#748813',GradientType=0 );}
.youtube-wrap{}
.our-clients>h5{font-size: 48px;font-family: 'BebasNeue-Regular';color: #000;padding-top: 88px;padding-bottom: 82px;}
.our-clients a{display: block;}
.seventh-block-wrap{position: relative;padding: 54px 0px 57px 0px;}
.seventh-block-center-description h5{font-size: 48px;font-family: 'BebasNeue-Regular';color: #fff;padding-bottom: 10px;}
.seventh-block-center-description p{color: #fff;font-family: "Open sans";font-size: 18px;line-height: 28px;padding-top: 7px;}
.seventh-block-center-description p span{color: #acc634;font-size: 48px;font-family: 'BebasNeue-Regular';}
.fifth-block-center-forma-wrap-main,.fifth-block-center-wrap{text-align: center;}
.fifth-block-oneHeight {width: 33%;display: inline-block;}
.seventh-block-wrap .fifth-block-oneHeight{vertical-align: middle;}
.seventh-block-wrap .fifth-block-center-img {padding-bottom: 0px;}
.seventh-block-center-description{padding-bottom: 20px;}
.seventh-block-wrap .fifth-block-oneHeight{text-align: center;}
.map-footer-wrap{position: relative;}
.map-footer{position: absolute;top: 0px;left: 0;right: 0}

.map-footer:before{content: "";position: absolute;width: 100%;height: 64px;background: rgba(0,0,0, .55);left: 0;z-index: 1;top: -1px;}
.map-footer:after{bottom: -1px;right: 0;left:0;content: "";position: absolute;height: 64px;width: 100%;background: rgba(0,0,0, .55);}
.our-production{position: absolute;top: 64px;left: 50%;transform: translate(-50%,0%);font-size: 30px;font-family: 'BebasNeue-Regular';color: #fff;padding: 7px 12px 7px 12px;background: rgb(173,199,52);background: -moz-linear-gradient(top,  rgba(173,199,52,1) 0%, rgba(116,136,19,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,199,52,1)), color-stop(100%,rgba(116,136,19,1)));background: -webkit-linear-gradient(top,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);background: -o-linear-gradient(top,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);background: -ms-linear-gradient(top,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);background: linear-gradient(to bottom,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc734', endColorstr='#748813',GradientType=0 );border-top: 1px solid #86992e;border-radius: 4px;-webkit-box-shadow: 3px 7px 9px 2px rgba(0,0,0,0.4);box-shadow: 3px 7px 9px 2px rgba(0,0,0,0.4);text-align: center;}
.our-production:after{content: "";position: absolute;border: 6px solid transparent;    border-top: 19px solid rgb(116, 136, 19);top: 44px;left: 14px;}

.karta-tovara-wrap{padding-top: 80px;}
.karta-tovara-title{color: #768b13;font-size: 48px;font-family: 'BebasNeue-Regular';padding-bottom: 23px;}
.karta-tovara-description{font-family: "Open sans";font-size: 18px;padding-bottom: 19px;}
.karta-tovara-table{padding-bottom: 0px;}
.karta-tovara-table table{width: 100%;}
.karta-tovara-table table th{color: #768b13;font-size: 18px;font-family: "Open sans";font-weight: 500;padding-bottom: 21px;background: url(../images/kart-tov-line.png) bottom left repeat-x;}
.karta-tovara-table table td{color: #000;font-size: 18px;font-family: "Open sans";font-weight: 500;position: relative;padding: 9px 0px 9px 0px;}
.karta-tovara-table table tr{position: relative;background: url(../images/kart-tov-line.png) bottom left repeat-x;}
.karta-tovara-table table tr:last-child{background: none;}
.karta-tovara-item-img{display: inline-block;margin: -5px;padding: 10px;background: linear-gradient(to bottom,  rgba(173,199,52,1) 0%,rgba(116,136,19,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#adc734', endColorstr='#748813',GradientType=0 );}
.karta-tovara-item-img-wrap{text-align: center;padding-top: 41px;}
.title-text-bottom{padding-top: 40px;text-align: center;padding-bottom: 7px;}
.title-text-bottom h5{font-size: 61px;color: #768b13;font-family: 'BebasNeue-Regular';}
.karta-tovara-wrap .green-bottom-form {padding: 91px 0 72px 20px;}


.zvonok-button .btn.active, .zvonok-button .btn:active {background: rgb(244,246,200);background: -moz-linear-gradient(top,  rgba(244,246,200,1) 0%, rgba(227,229,160,1) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,246,200,1)), color-stop(100%,rgba(227,229,160,1)));background: -webkit-linear-gradient(top,  rgba(244,246,200,1) 0%,rgba(227,229,160,1) 100%);background: -o-linear-gradient(top,  rgba(244,246,200,1) 0%,rgba(227,229,160,1) 100%);background: -ms-linear-gradient(top,  rgba(244,246,200,1) 0%,rgba(227,229,160,1) 100%);background: linear-gradient(to bottom,  rgba(244,246,200,1) 0%,rgba(227,229,160,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6c8', endColorstr='#e3e5a0',GradientType=0 );border-radius: 4px;border-bottom: 2px solid #a4b06c;width: 100%;}






/*@media screen and (min-width: 1200px){
    .container {
    width: 960px;
    }
}
@media screen and (min-width: 992px){
    .container {
      width: 960px;
    }
}
*/
@media screen and (max-width:1920px){}
@media screen and (max-width:1600px){}
@media screen and (max-width:1366px){
    .title-logo-text {padding: 134px 0px 190px 0px;}
}
@media screen and (max-width:1280px){
    .title-logo-text {padding: 134px 0px 150px 0px;}
    .third-block-img{margin: 0px 12px;}
    .third-block-desc{padding-top: 40px;padding-bottom: 50px;}
    .fifth-block-desc-wrap {margin-left: 0px;}
    .third-izd .item-izd {padding-top: 11px;}
}
@media screen and (max-width:1024px){
    .navigation{margin-left: 0;}
    .title-logo-text {padding: 96px 0px 111px 0px;}
    .third-block-desc{padding-top: 25px;padding-bottom: 19px;}
    .third-block-wrap h5 {padding-top: 45px;padding-bottom: 22px;font-size: 44px;}
    .map-footer:after,.map-footer:before{content:none;}

    .fourth-block-wrap .fourth-block-bg-img>img{display: none;}
    .fifth-block-wrap .fourth-block-bg-img>img {display: none;}
    .seventh-block-wrap .fourth-block-bg-img>img {display: none;}
    .third-block-wrap .third-block-bg-img>img {display: none;}
    .fifth-block-wrap,.seventh-block-wrap,.third-block-wrap {background: #18191A;}

}
@media screen and (max-width:992px){
    .title-logo-text {padding: 39px 0px 76px 0px;}
    .nav>li>a{padding: 10px 1px;}
    .navigation .nav li a{font-size: 14px;}
    .fifth-block-desc-wrap {margin-right: -1px;width: 100%;}
    .fifth-block-center-wrap {margin-right: 13px;width: 100%;}
    .fifth-block-center-forma {max-width: 233px;}
    .fifth-block-desc p{font-size: 34px;}
    .fifth-block-oneHeight{text-align: center;}
    .seventh-block-center-description{padding-bottom: 35px;}

    .karta-tovara-table table td,.karta-tovara-table table th{font-size: 14px;}
}
@media screen and (max-width:767px){
    .logo-img{text-align: center;}
    .navigation {padding: 15px 0px 11px 0px;margin-left: 0px;}
    .nav-pills>li+li {margin-left: 2px;}
    .nav>li>a {padding: 7px 10px;}
    .navigation .nav li {display: block;float: none;text-align: center;}
    .t-centr{text-align: center;}
    .title-logo-text {padding: 96px 0px 111px 0px;}
    .title-logo-text {padding: 39px 0px 70px 0px;}

    .item-izd {padding: 0px 12px;}
    .third-izd .item-izd{  padding: 23px 14px;}

    .third-block-desc{padding-top: 19px;padding-bottom: 0px;}
    .third-block-wrap h5 {padding-top: 35px;padding-bottom: 16px;font-size: 38px;}
    .third-block-desc p {font-size: 13px;margin-bottom: 7px;}

    .fifth-block-oneHeight{width: 100%;}
    .fifth-block-desc-wrap {margin-top: 0px;text-align: center;}


    .our-clients a{display: block;margin-bottom: 20px;}
    .our-production{font-size: 18px;}
    .our-production:after{top: 31px;}
}
@media screen and (max-width:640px){
    .title-logo-text {padding: 31px 0px 24px 0px;}
    .item-izd {display: block;padding: 13px 44px;}
    .third-izd .item-izd{display: block;padding: 13px 44px;}

    .third-block-img {margin: 6px 0px;display: block;}
    .karta-tovara-title{text-align: center;}
    .karta-tovara-table table td,.karta-tovara-table table th{font-size: 12px;}
    .title-text-bottom h5{font-size: 35px;}
}
@media screen and (max-width:480px){
    .title-logo-text>h4 {font-size: 50px;margin-bottom: 16px;}
    .title-logo-text {padding: 7px 0px 22px 0px;}
    .zvonok {width: 150px;padding-top: 20px;}
    .zvonok-button a{padding: 2px 12px;font-size: 13px;}
    .zvonok p:first-child {font-size: 20px;}

    .item-izd {}
    .our-production{top: 10px}
}

@media screen and (max-width:320px){

}
/* стили только для IE9 - IE10 */
@media screen and (min-width:0\0) {
}


